$color-main: #ff5e57;
$color-light: #fff;
$color-dark: #242424;
$color-gold: #edc842;
$color-grey: #747474;
$font-text: 'Montserrat';
$font-header: 'Abel', sans-serif;
$font-italic: 'Droid Serif', serif;
$font-paragraph: 'SeRoboto Slab', serif;
$transition: all 1s;

/* Global */

*, *::before, *::after {
	box-sizing: border-box;
}

body {
    margin: 0;
    text-align: center;
    background: $color-light;
    font-size: 16px;
    line-height: 1.7; 
    font-family: $font-text;
}
.container {
    max-width: 1140px; 
    margin: 0 auto;
    padding: 20px;
}

section {
    padding: 80px 0px;
}


.section-title {
    position: relative;
    font-family: $font-text;
    font-size: 50px;
    font-weight: 800;
    margin: 0 0 60px 0;
}

h2 {
    font-size: 40px;
    font-weight: 900;
    margin-bottom: -20px;
}

h3 {
    font-family: $font-italic;
    font-weight: 100;
    font-style: italic;
    color: $color-grey;
    margin-bottom: 60px;
}
h4 {
    font-size: 20px;
    
}

/* Navigation */

.navigation {
    background: inherit;
    padding: 30px 0;
    color: $color-light;
        ul {
        padding: 0;
        margin: 0;
        list-style-type: none;
        float: right;
            ul {
                li {
                    display: block;
                    margin: 12px;
                }
            }
        }
        li {
            display: inline-block;
            margin-right: 36px;
            position: relative;
                a {
                    text-decoration: none;
                    color: $color-light;
                }
            }
        }
        .navbar-brand {
          font-family: 'Wisdom Script', sans-serif;
            color: $color-gold;
            font-size: 35px;
            float: left;
            margin-left: 50px;
        } 

        /* Splash */

.splash {
    height: 100vh;
    position: relative;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),  url('https://images.pexels.com/photos/905163/pexels-photo-905163.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}
.splash-inner {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.page-title {
    color: $color-light;
    font-size: 40px;
    font-family: $font-italic;
    font-style: italic;
    font-weight: 200;
    position: relative;
}

.page-subtitle {
    color: $color-light;
    font-size: 60px;
    margin-top: -20px;
}
/* btn */

.btn {
    display: inline-block;
    min-width: 220px;
    margin: 60px auto 0 auto;
    padding: 16px;
    border-radius: 5px;
    font-family: $font-text;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    /*border-width: 2px;
    border-style: solid;*/
    transition: $transition;
}

.btn-one {
    border-color: $color-light;
    color: $color-light;
    background-image: linear-gradient(90deg, $color-gold 50%, transparent 50%);
    background-position: 0 100%;
    background-size: 300%;
}

.btn:hover {
    background-position: 100% 0;
    background-color: $color-main;
}
   
.btn-one:hover {
   background-image: linear-gradient(45deg, $color-gold, 50%, transparent 50%);
   transition: $transition;
   color: $color-light;
}  

/* Services */

.services {
    i {
    font-size: 30px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    color: $color-gold;
    border-radius: 50%;
    margin: auto;
    border-width: 2px;
    border-style: solid;
    border-color: $color-gold;
    }
    p {
    color: $color-grey;
    font-family: $font-paragraph;
    }
}

/*Portfolio*/

.portfolio {
    background: rgb(237, 237, 237);
    img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    }
}

.card {
    p {
        font-family: $font-paragraph;
        color: $color-grey;
        font-style: italic;
        font-size: 18px;
        margin-top: -40px;
        padding-bottom: 20px;
    }
    /* Add shadows to create the "card" effect */ 
    transition: 0.3s;
    max-width: 300px;
    display: inline-block;
    margin: 20px;
    background: white;
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }